{
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": false
      }
    ]
  },
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:jest/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "jest/globals": true,
    "node": true
  }
}
